<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Guess the secret number{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="/static/css/style.css">
        {% endblock css %}
    </head>
    <body>
        <h1>Guess the secret number</h1>

        <p>
            <a href="/">Game</a> | <a href="/profile">Profile</a> | <a href="/users">Users</a>
        </p>

        {% block content %}
        {% endblock %}
    </body>
</html>